
{% load static %}
{% load cart_template_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Home - Dhobi</title>
        <meta name="description" content="Laundry &amp; Services">
        <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
        <link rel="stylesheet" href="/static/assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="/static/assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="/static/assets/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="/static/assets/css/Highlight-Clean.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
        <link rel="stylesheet" href="/static/assets/css/Map-Clean.css">
        <link rel="stylesheet" href="/static/assets/css/Search-Input-Responsive-with-Icon.css">
        <link rel="stylesheet" href="/static/assets/css/Team-Clean.css">
        <link rel="stylesheet" href="/static/assets/css/Login-Form-Dark.css">
        <link rel="stylesheet" href="/static/assets/fonts/ionicons.min.css">
        <link rel="stylesheet" href="/static/assets/css/styles.css">
        <link rel="stylesheet" href="/static/assets/css/Registration-Form-with-Photo.css">
        <link rel="stylesheet" href="/static/assets/css/Contact-Form-Clean.css">
        <link rel="stylesheet" href="/static/assets/css/Account-setting-or-edit-profile.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        <script type="text/javascript">
            var user = '{{request.user}}'
    
            function getToken(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getToken('csrftoken')
    
            function getCookie(name) {
                // Split cookie string and get all individual name=value pairs in an array
                var cookieArr = document.cookie.split(";");
    
                // Loop through the array elements
                for(var i = 0; i < cookieArr.length; i++) {
                    var cookiePair = cookieArr[i].split("=");
    
                    /* Removing whitespace at the beginning of the cookie name
                    and compare it with the given string */
                    if(name == cookiePair[0].trim()) {
                        // Decode the cookie value and return
                        return decodeURIComponent(cookiePair[1]);
                    }
                }
    
                // Return null if not found
                return null;
            }
            var cart = JSON.parse(getCookie('cart'))
    
            if (cart == undefined){
                cart = {}
                console.log('Cart Created!', cart)
                document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
            }
            console.log('Cart:', cart)
        
        </script>
    
    </head>


<body>

    <!-- navbar starts -->
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand bg-dark shadow-lg" href="/"> <img src="/media/DHOBI (1) (1).png" style="width: 100px;" alt=""></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="accounts/signup">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="accounts/login">Log In</a></li>
                    <a href="{% url 'home:cart' %}">
                        <img  id="cart-icon" src="/media/Blue_Optical_Illusion_Corporate_Logo-removebg-preview (1).png" style="height: 70px;width: 70px;">
                    </a>
                    <p id="cart-total">{{ request.user|cart_item_count }} </p>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar ends -->
    <div>
    <!-- other html files -->
    {% block content %}


    {% endblock content %}
    <!-- ends other -->
    </div>
   

    <!-- footer starts here -->
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Copyright&nbsp;© Dhobi 2021</p>
        </div>
        <br>
        <pre class="text-center text-white m-0 small"> <a href="/contact">Contact Us</a>• <a href="/privacy">Privacy</a> </pre>
    </footer>
    <!-- footer ends here -->
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script type="text/javascript" src='/static/js/cart.js'></script>
</body>
</html>