{% extends 'home/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<br>
<br>
<br>
<br>
<br>

<br>

     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" style="border-radius: 22px;">
				<a  class="btn btn-outline-dark" href="{% url 'home:cart' %}" style="border-radius: 22px;">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				<span class="text-muted">Your cart</span>
				<span class="badge badge-secondary badge-pill">{{ order.items.count }}</span>
				</h4>
				<ul class="list-group mb-3 z-depth-1">
				{% for order_item in order.items.all %}
				<li class="list-group-item d-flex justify-content-between lh-condensed">
					<div>
					<h6 class="my-0">{{ order_item.quantity }} x {{ order_item.item.title}}</h6>
					<small class="text-muted">{{ order_item.item.description}}</small>
					</div>
					<span class="text-muted">${{ order_item.get_final_price }}</span>
				</li>
				{% endfor %}
				{% if order.coupon %}
				<li class="list-group-item d-flex justify-content-between bg-light">
					<div class="text-success">
					<h6 class="my-0">Promo code</h6>
					<small>{{ order.coupon.code }}</small>
					</div>
					<span class="text-success">-${{ order.coupon.amount }}</span>
				</li>
				{% endif %}
				<li class="list-group-item d-flex justify-content-between">
					<span>Total (USD)</span>
					<strong>${{ order.get_total }}</strong>
				</li>
				</ul>
			
				{% if DISPLAY_COUPON_FORM %}
				<form class="card p-2" action="{% url 'home:add-coupon' %}" method="POST">
					{% csrf_token %}
					<div class="input-group">
						{{ couponform.code }}
						<div class="input-group-append">
						<button class="btn btn-secondary btn-md waves-effect m-0" type="submit">Redeem</button>
						</div>
					</div>
				</form>
				{% endif %}
			
			</div>
		</div>
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper" style="border-radius: 22px;">
				<form id="form" method="post">
					{% csrf_token %}
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Name..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>
					
					<div id="shipping-info">
						<hr>
						<p>Enter your address</p>
						<hr>
						<div class="form-field">
							<input type='text' placeholder='1234 Main St' id='shipping_address' name='shipping_address' class='form-control' />
                  			<label for="shipping_address" class="">Address</label>
						</div>
						<div class="form-field">
							<input type='text' placeholder='Apartment or suite' id='shipping_address2' name='shipping_address2' class='form-control' />
                  			<label for="shipping_address2" class="">Address 2 (optional)</label>
						</div>
						<div class="form-field">
							<label for="country">Country</label>
							{{ form.shipping_country }}
							<div class="invalid-feedback">
							  Please select a valid country.
							</div>		
						</div>
						<div class="form-field">
							<label for="shipping_zip">Zip</label>
							<input type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip' class='form-control' />
							<div class="invalid-feedback">
							Zip code required.
							</div>
						</div>
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" name="same_billing_address" id="same_billing_address">
							<label class="custom-control-label" for="same_billing_address">Billing address is the same as my shipping address</label>
						  </div>
						  <div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" name="set_default_shipping" id="set_default_shipping">
							<label class="custom-control-label" for="set_default_shipping">Save as default shipping address</label>
						  </div>
						  {% if default_shipping_address %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="use_default_shipping" id="use_default_shipping">
                <label class="custom-control-label" for="use_default_shipping">Use default shipping address: {{ default_shipping_address.street_address|truncatechars:10 }}</label>
              </div>
              {% endif %}

              <hr>

              <h3>Billing address</h3>

              <div class='hideable_billing_form'>
                <div class="md-form mb-5">
                  <input type='text' placeholder='1234 Main St' id='billing_address' name='billing_address' class='form-control' />
                  <label for="billing_address" class="">Address</label>
                </div>

                <div class="md-form mb-5">
                  <input type='text' placeholder='Apartment or suite' id='billing_address2' name='billing_address2' class='form-control' />
                  <label for="billing_address2" class="">Address 2 (optional)</label>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <label for="country">Country</label>
                    {{ form.billing_country }}
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="billing_zip">Zip</label>
                    <input type='text' placeholder='Zip code' id='billing_zip' name='billing_zip' class='form-control' />
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>

                </div>

                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="set_default_billing" id="set_default_billing">
                  <label class="custom-control-label" for="set_default_billing">Save as default billing address</label>
                </div>

              </div>

              {% if default_billing_address %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="use_default_billing" id="use_default_billing">
                <label class="custom-control-label" for="use_default_billing">Use default billing address: {{ default_billing_address.street_address|truncatechars:10 }}</label>
              </div>
              {% endif %}
              <hr>

              <h3>Payment option</h3>

              <div class="d-block my-3">
                {% for value, name in form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                </div>
                {% endfor %}
              </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

					</div>

					<hr>
					<input style="border-radius: 22px;" id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
				<button id="make-payment" style="border-radius: 22px;">Make payment</button>
			</div>
			
		</div>

		
	</div>

	<script>
		var hideable_shipping_form = $('.hideable_shipping_form');
		var hideable_billing_form = $('.hideable_billing_form');
		
		var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
		var use_default_billing = document.querySelector("input[name=use_default_billing]");
		
		use_default_shipping.addEventListener('change', function() {
		  if (this.checked) {
			hideable_shipping_form.hide();
		  } else {
			hideable_shipping_form.show();
		  }
		})
		
		use_default_billing.addEventListener('change', function() {
		  if (this.checked) {
			hideable_billing_form.hide();
		  } else {
			hideable_billing_form.show();
		  }
		})
		
		</script>


<br>
<br>
<br>
{% endblock content %}


 