{% extends 'home/base.html' %}
{% load static %}
{% block content %} 
<section class="contact-clean">
    <form method="post">
        <h2 class="text-center">Contact us</h2>
        <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Name"></div>
        <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email"></div>
        <div class="mb-3"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
        <div class="mb-3"><button class="btn btn-primary" type="submit">send </button></div>
    </form>
</section>
{% endblock content %}