<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account</title>
	<meta name="author" content="David Grzyb">
    <meta name="description" content="">
    <link
    rel="stylesheet"
    href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .body-bg {
            background-color: #9921e8;
            background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
        }
    </style>
</head>
<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0" style="font-family:'Lato',sans-serif;">
    <header class="max-w-lg mx-auto">
        <a href="/">
            <h1 class="text-4xl font-bold text-white text-center">Dhobii.</h1>
        </a>
    </header>

    <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
        <section>
        
        </section>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <pre style="text-align: center;"><strong> {{ message }}</strong></pre>
        </div>
        {% endfor %}
        <section class="mt-10">
            {% if user.is_authenticated %}
                <h3>Hello {{fname}}!</h3>
                <h4>You're successfully logged in.</h4>
                <button class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8"> <a href="/">Give your clothes</a>  </button>
                <br>
                <button  class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8" type="submit"><a href="signout">SignOut</a></button>
            {% else %}
                <button  class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 m-20" type="submit"><a href="signup">SignUp</a></button>
                
                <button  class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 m-8" type="submit"><a href="signin">SignIn</a></button>
            {% endif %}
        </section>
    </main>

    

    <footer class="max-w-lg mx-auto flex justify-center text-white">
        <a href="#" class="hover:underline">Contact</a>
        <span class="mx-3">•</span>
        <a href="#" class="hover:underline">Privacy</a>
    </footer>
</body>
</html>